@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background: #F1F3F4;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  height: 64px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header.border {
  border-bottom: 1px solid #dadce0;
}

.icon {
  height: 24px;
  color: #5f6368;
  cursor: pointer;
}

header .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .logo h1 {
  color: #5f6368;
  font-weight: 300;
  font-size: 22px;
}

header form {
  width: 720px;
  background: #F1F3F4;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
}

header form input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #5f6368;
}

header form input::placeholder {
  color: #5f6368;
}

header .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .right img {
  border-radius: 100%;
  cursor: pointer;
}

header .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .left .rename {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .left .rename input {
  font-size: 18px;
  border: 1px solid transparent;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 10px;
}

header .left .controlls {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

header .right button {
  display: flex;
  align-items: center;
  color: #fff;
  background: #1A73E8;
  border: none;
  padding: 9px 16px 10px 12px;
  gap: 10px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
}

.container .docs {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.container .docs .card img {
  border: 1px solid #dadce0;
  border-radius: 5px;
  margin: 7px 0;
  cursor: pointer;
}

.container .docs .card img:hover {
  border: 1px solid #679FFF;
}

.container .docs .card h2 {
  font-size: 14px;
  color: #202124;
  font-weight: 500;
}

.container .docs .card h3 {
  font-size: 14px;
  color: #5f6368;
  font-weight: 300;
}

.tools {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 100;
}

.tools button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.tools .font {
  display: flex;
  align-items: center;
}

.tools .font div {
  border: 1px solid #dadce0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.tools .font div input {
  border: none;
  background: transparent;
  width: 50px;
  text-align: center;
}

.editor {
  width: 800px;
  height: 1200px;
  resize: none;
  border: 1px solid #dadce0;
  padding: 100px;
}

.editorContainer {
  position: absolute;
  top: 120px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F1F3F4;
  padding-bottom: 20px;
}

.dropDown {
  position: fixed;
  top: 100px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  padding: 8px 0;
  left: 100px;
  z-index: 100;
  width: 250px;
  background: #fff;
}

.dropDownItems:hover {
  background: #dadce0;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .editor {
    width: 95%;
    padding: 50px;
  }
}

@media screen and (max-width: 750px) {
  header form {
    display: none;
  }

  .main {
    position: absolute;
    top: 70px;
    text-align: center;
    background: #F1F3F4;
  }
}

@media screen and (max-width: 650px) {
  header .left .controlls {
    display: none;
  }

  .tools {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 500px) {
  header .right.new {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  header .rename .icon {
    display: none;
  }

  header .left .rename input {
    width: 100%;
  }

  .editor {
    padding: 25px;
  }
}
